VITE_FIREBASE_API_KEY="AIzaSyD83KHTTpsPGE9yyMAfNS2npAwK_uqUShU"
VITE_FIREBASE_AUTH_DOMAIN="my-note-42279.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="my-note-42279"
VITE_FIREBASE_STORAGE_BUCKET="my-note-42279.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID=281204767307
VITE_FIREBASE_APP_ID="1:281204767307:web:ffba9725620322d7986bce"
VITE_ROOT_EMAIL="sangnt0795@gmail.com"